body {
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-display: swap;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #9F9F9F;
  font-family: "Exo 2", sans-serif;
}

a {
  text-decoration: none;
}

.sosiska {
  width: 18px !important;
  height: 18px !important;
  margin: 0 !important;
  opacity: 1 !important;
  filter: blur(0px) !important;
}

.sosiska-wrap {
  display: flex;
  align-items: center;
}

button {
  outline: none;
  border: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button:disabled,
button:hover:disabled {
  opacity: 0.5;
  cursor: no-drop;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  user-select: none;
}

.select {
  position: relative;
  height: 34px;
  width: 120px;
  border-radius: 10px;
  background: #181818;
  transition: all 300ms;
  margin-right: 24px;
  user-select: none;

  &.open {
    border-radius: 10px 10px 0 0;

    .select-current svg {
      transform: rotate(180deg);
    }
  }

  &-current {
    display: flex;
    align-items: center;
    height: 34px;
    cursor: pointer;
    transition: all 300ms;

    &:hover {
      opacity: 0.7;
    }

    svg {
      margin-left: 10px;
      margin-right: 6px;
    }

    span {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #7b7b7b;
    }
  }

  &-list {
    transition: all 300ms;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    position: absolute;
    top: 34px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 4;

    &>span {
      display: flex;
      align-items: center;
      padding-left: 18px;
      height: 30px;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      background: #181818;
      color: #7b7b7b;
      cursor: pointer;
      transition: all 300ms;

      &:hover {
        background: #2b2a2a !important;
      }
    }
  }
}

.profile-body,
.create-form__item-textarea{
  &::-webkit-scrollbar {
    width: 5px;
    margin-right: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #212121;
    border-radius: 5px;
    box-shadow: inset 0 0 6px #171728;
    -webkit-box-shadow: inset 0 0px 0px 1px #171728;
  }
}

.price-input {
  background: #181818;
  border-radius: 10px;
  user-select: none;
  overflow: hidden;
  height: 34px;
  display: flex;

  &__name {
    background: #2B2B2B;
    border-radius: 10px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #7B7B7B;
  }

  input {
    width: calc(100% - 48px);
    background: transparent;
    text-align: center;
    padding: 0 5px;
    outline: none;
    border: none;
  }
}

.notif {
  padding: 6px 20px 9px 20px;
  margin: 5px;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    height: 30px;
    border-radius: 5px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #eee;
  }

  &-date {
    font-weight: 300;
    font-size: 9px;
    line-height: 13px;

    color: #fff;
  }

  .notification-title {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .notification-content {
    color: #fff;
    font-size: 15px;
  }

  &.success {
    background: linear-gradient(90deg, rgba(51, 255, 0, 0.235) -12.67%, rgba(51, 255, 0, 0) 42.5%), rgb(48, 48, 48);

    &::before {
      background: #33ff00;
      box-shadow: 0px 0px 4px #2ee66d;
    }

    & .notification-title {
      color: #33ff00;
    }
  }

  &.error {
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.235) -12.67%, rgba(255, 0, 0, 0) 42.5%), rgb(48, 48, 48);

    &::before {
      background: #ff0000;
      box-shadow: 0px 0px 4px rgba(255, 48, 48, 0.7);
    }

    & .notification-title {
      color: #ff0000;
    }
  }

  &.warn {
    background: linear-gradient(90deg, rgba(0, 163, 255, 0.235) -12.67%, rgba(0, 163, 255, 0) 42.5%), rgb(48, 48, 48);

    &::before {
      background: #00a3ff;
      box-shadow: 0px 0px 4px rgba(48, 181, 255, 0.7);
    }

    & .notification-title {
      color: #00a3ff;
    }
  }

  &.info {
    background: linear-gradient(90deg, rgba(174, 201, 23, 0.235) -12.67%, rgba(0, 163, 255, 0) 42.5%), rgb(48, 48, 48);

    &::before {
      background: #c8e718;
      box-shadow: 0px 0px 4px rgba(201, 198, 42, 0.7);
    }

    & .notification-title {
      color: #c8e718;
    }
  }
}

.infinite-loading-container {
  height: 10px;
  width: 140px;
  opacity: 0;
}

.divider {
  background: #1F1F1F;
  border-radius: 5px;
  height: 1px;
  width: 100%;
}

.btn-tr {
  cursor: pointer;
  transition: all 300ms;

  &:hover {
    opacity: 0.5;
  }
}

.hidden {
  display: none;
}

.close {
  width: 26px;
  height: 26px;
  transition: all 300ms;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;

  span {
    display: block;
    background: #7D7D7D;
    ;
    width: 26px;
    height: 2px;
    border-radius: 5px;
  }

  span:first-child {
    transform: translate(-0px, 12px) rotate(135deg);
  }

  span:last-child {
    transform: translate(-0px, 12px) rotate(-135deg);
    margin-top: -2px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.checkbox {
  &-label {
    position: relative;
    display: block;
    height: 20px;
    width: 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 300ms ease;
    background: #181818;
    border: 0.5px solid #2b2b2b;
    border-radius: 20px;

    &:after {
      position: absolute;
      left: 2px;
      top: 2px;
      display: block;
      width: 14px;
      height: 14px;
      background: #de3720;
      box-shadow: 0px 0px 4px rgba(222, 55, 32, 0.5);
      border-radius: 100px;
      content: "";
      transition: all 300ms ease;
    }

    &:active:after {
      transform: scale(1.15, 0.85);
    }
  }

  &-input {
    display: none;

    &:checked~label {
      background: #de3720;
      border: 0.5px solid #181818;

      &:after {
        left: 20px;
        background: #181818;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
      }
    }

    &:disabled~label {
      background: lighten(#898989, 30%);
      pointer-events: none;

      &:after {
        background: lighten(#898989, 20%);
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.skin {
  width: 140px;
  height: 140px;
  border: 1px solid #de3720;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
  transition: all 300ms;
  cursor: pointer;

  &-permis {
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    top: 10px;
    left: 10px;
    gap: 4px;

    &__item {
      border-radius: 10px;
      width: 12px;
      height: 12px;
      position: relative;

      &-wrap {
        position: absolute;
        left: 7px;
        top: 0;
        font-weight: 600;
        height: 12px;
        font-size: 10px;
        line-height: 9px;
        border-radius: 0 10px 10px 0;
        display: none;
        width: 110px;
        color: #fff;
        align-items: center;
        justify-content: center;
      }

      &.sell {
        background: #de3720;

        &:hover {
          .skin-permis__item-wrap {
            display: flex;
            background: #de3720;
          }
        }
      }

      &.swap {
        background: #ffee05;

        &:hover {

          .skin-permis__item-wrap {
            display: flex;
            background: #ffee05;
          }
        }
      }

      &.with {
        background: #ff5e00;

        &:hover {
          .skin-permis__item-wrap {
            display: flex;
            background: #ff5e00;
          }
        }
      }

      &.bets {
        background: #001aff;

        &:hover {
          .skin-permis__item-wrap {
            display: flex;
            background: #001aff;
          }
        }
      }
    }
  }


  &:hover {
    border: 1px solid #fff !important;

    .skin--price{
    border: 1px solid #fff !important;
    }

    .skin--shadow{
      background: radial-gradient(76% 76% at 50% 114%,
      rgba(222, 255, 255, 1) 0%,
      rgba(255, 41, 11, 0) 100%),
    linear-gradient(0deg, #1e1e1e 13%, rgba(30, 30, 30, 0) 73.5%) !important;
    }
  }

  &.selected {

    border: 1px solid #fff !important;

    .skin--price{
    border: 1px solid #fff !important;
    }

    .skin--shadow{
      background: radial-gradient(76% 76% at 50% 114%,
      rgba(222, 255, 255, 1) 0%,
      rgba(255, 41, 11, 0) 100%),
    linear-gradient(0deg, #1e1e1e 13%, rgba(30, 30, 30, 0) 73.5%) !important;
    }

    .skin--selected {
      display: block;
    }
  }

  &--shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    left: 0;
    transition: all 300ms;
    background: radial-gradient(76% 76% at 50% 114%,
        rgba(222, 55, 32, 0.65) 0%,
        rgba(255, 41, 11, 0) 100%),
      linear-gradient(0deg, #1e1e1e 13%, rgba(30, 30, 30, 0) 73.5%);
  }

  > img {
    width: 123px;
    height: 123px;
  }

  &--content {
    position: absolute;
    left: 9.6px;
    z-index: 3;
    bottom: 23px;
    display: flex;
    flex-direction: column;

    strong {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
    }

    span {
      margin-top: -2px;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #999999;
    }
  }

  &--price {
    position: absolute;
    right: -1.2px;
    bottom: -1px;
    // right: 50%;
    // transform: translateX(50%);
    // top: 5px;
    padding: 0 0 2px 2px;
    background: #de3720;
    width: 65.8px;
    z-index: 3;
    height: 19.6px;
    border-radius: 10px 0px 10px 10px;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #de3720;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
  }

  &--selected {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }

  &--buy {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all 300ms;

    &__btn {
      background: #33FF00;
      box-shadow: 0px 0px 4px #2EE66D;
      border-radius: 10px;
      margin-bottom: 4px;
      width: 96px;
      height: 34px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 300ms;

      &:hover {
        opacity: 0.8;
      }
    }

    &__price {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      color: #FFFFFF;
      text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.25);
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width:900px) {
  .skin-permis__item-wrap {
    position: absolute;
    left: 0px;
    top: 0;
    font-weight: 600;
    height: 12px;
    font-size: 9px;
    line-height: 8px;
    border-radius: 10px;
    display: none;
    width: 76px;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.infinite-loading-container{
  width: 92px;
}
  .skin {
    width: 92px;
    height: 92px;

     > img {
      width: 82px;
      height: 82px;
    }

    &--price {
      width: 44px;
      height: 15px;
      font-weight: bold;
      font-size: 9px;
      line-height: 11px;
    }

    &--content {
      left: 7.6px;
      bottom: 13px;

      strong {
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;

        color: #FFFFFF;
      }

      span {
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
        /* identical to box height */


        color: #999999;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.text-green {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #72F235 !important;
}


.none-modal {
  transition: all 300ms;
  z-index: -10 !important;
  background: transparent !important;
  opacity: 0;
}

.visible-modal {
  animation: vmodal 300ms ease-in;
}

.fade-modal {
  transition: all 500ms;
  visibility: hidden;
  transform: translate(100%);
  opacity: 0;
}


@keyframes vmodal {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fmodal {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(100%);
  }
}